<main class="main">
  <div class="content">
    <div class="header-logo-title">
      <div class="logo-box">
        <img src="source.png" alt="Logo" class="logo-img" />
      </div>
      <h1 class="header-title">Nadzieja nie zawodzi (Rz 5,5)</h1>
    </div>
  <!-- ...pozostały kod... -->
    <div class="pdf-x-wrapper">
      <a href="Spes non confundit_jesień_2025_wersja rozesłana.pdf" target="_blank" class="pdf-link" title="Pobierz PDF">📑 PDF</a>
    </div>
    <!-- Tylko wersja z drzewkiem i folderami -->
  <h3 class="header-subtitle">
    Materiały formacyjne dla Katolickiej Odnowy w Duchu Świętym Archidiecezji Wrocławskiej
  </h3>

    <div *ngIf="pdfPages.length" class="toc-tree">
      <ul class="tree-list">
        <li *ngFor="let link of filteredPdfLinks; let i = index" [class.active]="selectedSectionText && selectedSectionIndex === i">
          <div class="tree-folder-row">
            <span class="tree-icon" (click)="toggleSection(i, $event)">📁</span>
            <span class="tree-desc" (click)="toggleSection(i, $event)" [innerHTML]="highlightCzesc(link)"></span>
          </div>
          <div *ngIf="selectedSectionText && selectedSectionIndex === i" class="tree-content">
                <!-- Podział na bloki: jeśli są bloki, nie pokazuj całości tekstu -->
                <ng-container *ngIf="selectedSectionText">
                  <ng-container *ngIf="blokKeys(selectedSectionText).length > 0; else showWholeText">
                    <div class="blok-list tree-connector-wrapper">
                      <div class="tree-connector"></div>
                      <div class="blok-list-inner">
                        <div *ngFor="let blokKey of blokKeys(selectedSectionText)" class="blok-item">
                          <div class="tree-folder-row" (click)="toggleBlok(blokKey)" [attr.data-blok]="blokKey">
                            <span class="tree-icon">📁</span>
                            <span class="tree-desc"><b>{{ blokKey }}</b></span>
                          </div>
                          <div class="tree-content" *ngIf="openedBlok[blokKey]">
                            <div class="tree-controls">
                              <button (click)="speakBlokText(selectedSectionIndex, blokKey)">Start</button>
                              <button (click)="stopSpeech()">Stop</button>
                            </div>
                            <textarea readonly class="tree-textarea">{{ podzielNaBloki(selectedSectionText).bloki[blokKey] }}</textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #showWholeText>
                    <div class="tree-controls">
                      <button (click)="speakSectionText()">Start</button>
                      <button (click)="stopSpeech()">Stop</button>
                    </div>
                    <textarea readonly class="tree-textarea">{{ selectedSectionText }}</textarea>
                  </ng-template>
                </ng-container>
          </div>
        </li>
      </ul>
    </div>
  <div class="close-btn-watermark-row">
    <button class="close-btn" (click)="closePage()">Zamknij stronę</button>
    <div class="watermark">&#64;EO</div>
  </div>
  </div>
</main>


